svg:not(:root).svg-inline--fa{overflow:visible}.svg-inline--fa{display:inline-block;font-size:inherit;height:1em;overflow:visible;vertical-align:-.125em}.svg-inline--fa.fa-lg{vertical-align:-.225em}.svg-inline--fa.fa-w-1{width:.0625em}.svg-inline--fa.fa-w-2{width:.125em}.svg-inline--fa.fa-w-3{width:.1875em}.svg-inline--fa.fa-w-4{width:.25em}.svg-inline--fa.fa-w-5{width:.3125em}.svg-inline--fa.fa-w-6{width:.375em}.svg-inline--fa.fa-w-7{width:.4375em}.svg-inline--fa.fa-w-8{width:.5em}.svg-inline--fa.fa-w-9{width:.5625em}.svg-inline--fa.fa-w-10{width:.625em}.svg-inline--fa.fa-w-11{width:.6875em}.svg-inline--fa.fa-w-12{width:.75em}.svg-inline--fa.fa-w-13{width:.8125em}.svg-inline--fa.fa-w-14{width:.875em}.svg-inline--fa.fa-w-15{width:.9375em}.svg-inline--fa.fa-w-16{width:1em}.svg-inline--fa.fa-w-17{width:1.0625em}.svg-inline--fa.fa-w-18{width:1.125em}.svg-inline--fa.fa-w-19{width:1.1875em}.svg-inline--fa.fa-w-20{width:1.25em}.svg-inline--fa.fa-pull-left{margin-right:.3em;width:auto}.svg-inline--fa.fa-pull-right{margin-left:.3em;width:auto}.svg-inline--fa.fa-border{height:1.5em}.svg-inline--fa.fa-li{width:2em}.svg-inline--fa.fa-fw{width:1.25em}.fa-layers svg.svg-inline--fa{bottom:0;left:0;margin:auto;position:absolute;right:0;top:0}.fa-layers{display:inline-block;height:1em;position:relative;text-align:center;vertical-align:-.125em;width:1em}.fa-layers svg.svg-inline--fa{-webkit-transform-origin:center center;transform-origin:center center}.fa-layers-counter,.fa-layers-text{display:inline-block;position:absolute;text-align:center}.fa-layers-text{left:50%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);-webkit-transform-origin:center center;transform-origin:center center}.fa-layers-counter{background-color:#ff253a;border-radius:1em;-webkit-box-sizing:border-box;box-sizing:border-box;color:#fff;height:1.5em;line-height:1;max-width:5em;min-width:1.5em;overflow:hidden;padding:.25em;right:0;text-overflow:ellipsis;top:0;-webkit-transform:scale(.25);transform:scale(.25);-webkit-transform-origin:top right;transform-origin:top right}.fa-layers-bottom-right{bottom:0;right:0;top:auto;-webkit-transform:scale(.25);transform:scale(.25);-webkit-transform-origin:bottom right;transform-origin:bottom right}.fa-layers-bottom-left{bottom:0;left:0;right:auto;top:auto;-webkit-transform:scale(.25);transform:scale(.25);-webkit-transform-origin:bottom left;transform-origin:bottom left}.fa-layers-top-right{right:0;top:0;-webkit-transform:scale(.25);transform:scale(.25);-webkit-transform-origin:top right;transform-origin:top right}.fa-layers-top-left{left:0;right:auto;top:0;-webkit-transform:scale(.25);transform:scale(.25);-webkit-transform-origin:top left;transform-origin:top left}.fa-lg{font-size:1.3333333333em;line-height:.75em;vertical-align:-.0667em}.fa-xs{font-size:.75em}.fa-sm{font-size:.875em}.fa-1x{font-size:1em}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-6x{font-size:6em}.fa-7x{font-size:7em}.fa-8x{font-size:8em}.fa-9x{font-size:9em}.fa-10x{font-size:10em}.fa-fw{text-align:center;width:1.25em}.fa-ul{list-style-type:none;margin-left:2.5em;padding-left:0}.fa-ul>li{position:relative}.fa-li{left:-2em;position:absolute;text-align:center;width:2em;line-height:inherit}.fa-border{border:solid .08em #eee;border-radius:.1em;padding:.2em .25em .15em}.fa-pull-left{float:left}.fa-pull-right{float:right}.fa.fa-pull-left,.fab.fa-pull-left,.fal.fa-pull-left,.far.fa-pull-left,.fas.fa-pull-left{margin-right:.3em}.fa.fa-pull-right,.fab.fa-pull-right,.fal.fa-pull-right,.far.fa-pull-right,.fas.fa-pull-right{margin-left:.3em}.fa-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}.fa-pulse{-webkit-animation:fa-spin 1s infinite steps(8);animation:fa-spin 1s infinite steps(8)}@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes fa-spin{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.fa-rotate-90{-webkit-transform:rotate(90deg);transform:rotate(90deg)}.fa-rotate-180{-webkit-transform:rotate(180deg);transform:rotate(180deg)}.fa-rotate-270{-webkit-transform:rotate(270deg);transform:rotate(270deg)}.fa-flip-horizontal{-webkit-transform:scale(-1,1);transform:scale(-1,1)}.fa-flip-vertical{-webkit-transform:scale(1,-1);transform:scale(1,-1)}.fa-flip-both,.fa-flip-horizontal.fa-flip-vertical{-webkit-transform:scale(-1,-1);transform:scale(-1,-1)}:root .fa-flip-both,:root .fa-flip-horizontal,:root .fa-flip-vertical,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-rotate-90{-webkit-filter:none;filter:none}.fa-stack{display:inline-block;height:2em;position:relative;width:2.5em}.fa-stack-1x,.fa-stack-2x{bottom:0;left:0;margin:auto;position:absolute;right:0;top:0}.svg-inline--fa.fa-stack-1x{height:1em;width:1.25em}.svg-inline--fa.fa-stack-2x{height:2em;width:2.5em}.fa-inverse{color:#fff}.sr-only{border:0;clip:rect(0,0,0,0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.sr-only-focusable:active,.sr-only-focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}.svg-inline--fa .fa-primary{fill:var(--fa-primary-color,currentColor);opacity:1;opacity:var(--fa-primary-opacity,1)}.svg-inline--fa .fa-secondary{fill:var(--fa-secondary-color,currentColor);opacity:.4;opacity:var(--fa-secondary-opacity,.4)}.svg-inline--fa.fa-swap-opacity .fa-primary{opacity:.4;opacity:var(--fa-secondary-opacity,.4)}.svg-inline--fa.fa-swap-opacity .fa-secondary{opacity:1;opacity:var(--fa-primary-opacity,1)}.svg-inline--fa mask .fa-primary,.svg-inline--fa mask .fa-secondary{fill:#000}.fad.fa-inverse{color:#fff}

html{
	scroll-behavior: smooth;
}

body{
	background-color: white;
	width: 100%;
	height: 100%;
	margin: 0px;
}

.sezioni{
	background-color: white <!--#fade91-->;
	margin-left: 1%;
	margin-right: 1%;
}
   
img {
	width:100%;
	height:100%;
	object-fit:cover;
}

.link{
	text-decoration: none;
	color: #877f69;
	font-size: 20px;
}

.link:hover{
	color: #e8bd00;
	text-decoration: underline;
	cursor: pointer;
}

.link2{
	text-decoration: none;
	color: #877f69;
	font-size: 20px;
}

.link2:hover{
	color: #e8bd00;
	text-decoration: underline;
	cursor: pointer;
}


.linkNews{
	text-decoration: none;
	color: white;
}

.linkNews:hover{
	color: white;
	text-decoration: underline;
}

img.imge{
	max-height: 75px;
	max-width: 250px;
	min-height: 25px;
	min-width: 100px;
	vertical-align: middle;
	width:98%; 
	float:left;
	object-fit:contain;
}

td{
  text-align: center;
}

table{
 height:25%;
 width: 100%;
}

div{
	vertical-align: middle;
	width: 100%;
}

.cerca{
	border: 3px solid gray;
	margin-top: 8%; 
	align-items: center; 
	text-align:center ; 
	background-color: #e8bd00;
	font-size: 22px;
	width: 95%; 
	height: 80%;
}

.cerca:hover{
	border: 3px solid black;
	background-color:#c29e00;
	color: black; 
}

.contenitore{
	width: 100%;
}

.divCarosello{
	background-color: #746f63;
	margin: 0px;
}

.divCarosello2{
	background-color: #746f63;
	margin: 0px;
}

.divCaroselloNews{
	width: 100%;
	background-color: #746f63;
	text-align: center;
	align-items: center;
	margin: 0px;
}

.contatti{
	width:34%;
}
.contatti2{
	width:66%;
}

.divForTable{
	width:90%;
}
.divForImage{
	width:20%;
}
.servizi{
}
.servizi2{
}
.servizi3{
}

.chiSiamo{
	padding-left: 6%; 
	width:40%; 
	height: auto; 
	background-color: white;
	padding-bottom: 2%;
}

.chiSiamo2{
	width:55%;  
	height: auto; 
	background-color: white; 
	padding-bottom: 5%; 
}

.contenitoreChiSiamo{
	width:99.4%;
}

.contenitoreContatti{
	width:100%;
}

.imgMappa{
	width: 90%; 
	height:65%; 
}

















@media screen and (max-width: 1500px){

    .contenitore{
        display: block;
		height:auto;
    }
	.contenitoreChiSiamo{
		display:inline-flex;
	}
	.contenitoreContatti{
		display:inline-flex;
	}
	.divCarosello{
		width: 100%;
		height:auto;
	}
	.divCarosello2{
		margin-top: 30%;
	}
	.divCaroselloNews{
		background-color: #746f63;
		width:98%;
		height:auto;
	}
	.link{
		font-size: 20px;
	}
	.intestazione{
		margin-top: 2%;
	}
	.cerca{
		font-size: 20px;
	}
	.servizi{
		width: 100%;
	}
	.servizi2{
		width: 100%;
	}
	.servizi3{
		width: 100%;
	}
	.chiSiamo{
		width:40%;
	}
	.chiSiamo2{
		width:55%;
	}
	.imgMappa{
		width: 70%; 
		height:55%; 
	}
}

@media screen and (min-width: 1500px){

    .contenitore{
        display:inline-flex;
		height:auto;
    }
	.contenitoreChiSiamo{
		display:inline-flex;
	}
	.contenitoreContatti{
		display:inline-flex;
	}
	.divCarosello{
		width:100%;
		height:auto;
	}
	
	.divCarosello2{
		margin-top: 7%;
	}
	
	.divCaroselloNews{
		background-color: #746f63;
		width: 40%;
		height:auto;
	}
	.link{
		font-size: 25px;
	}
	.intestazione{
		margin-top: 2%;
	}
	.divForTable{
		width:90%;
	}
	.divForImage{
		width:20%;
	}
	.contatti{
		width: 34%;
	}
	.contatti2{
		width: 66%;
	}
	.cerca{
		font-size:22px;
	}
	.servizi{
		width: 33%;
	}
	.servizi2{
		width: 33%;
	}
	.servizi3{
		width: 33%;
	}
	.chiSiamo{
		width:40%;
	}
	.chiSiamo2{
		width:55%;
	}
	.imgMappa{
		width: 80%; 
		height:65%; 
	}
}

@media screen and (max-width: 1200px){
    
	.contenitore{
        display: block;
		height:auto;
    }
	.contenitoreChiSiamo{
		display:block;
		width: 100%;
	}
	.divCarosello{
		background-color: #fff;
		width: 100%;
		height:auto;
	}
	.divCarosello2{
		margin-top: 0px;
	}
	.divCaroselloNews{
		background-color: #746f63;
		width:98%;
		height: auto;
	}
	.link{
		font-size: 15px;
	}
	.intestazione{
		margin-top: 2%;
		width:100%;
	}
	.divForTable{
		width: 100%;
		margin-left: 0;
	}
	.divForImage{
		width: 0;
	}
	.contatti{
		width: 100%;
	}
	.contatti2{
		width: 100%;
	}
	.imge{
		visibility: hidden;
		position: absolute;
	}
	.cerca{
		font-size: 12px;
	}
	.chiSiamo{
		width:94%;
	}
	.chiSiamo2{
		width:98%;
		margin-right: 1%;
		margin-left:1%;
	}
	.imgMappa{
		max-height:300px;
		max-width: 500px;
	}
}

@media screen and (max-width: 1110px){
	.contatti{
		font-size: 20px;
	}
	.contatti2{
		height:800px;
	}
	.imgMappa{
		max-height:200px;
	}
}

















.divNews{
	font-family: "Poppins", sans-serif;
	width: 96%; 
	padding: 15px;
	margin-left: 2%;
	background-color: white;
	border: 1px solid black;
	text-align: left;
}

.divNews:hover{
	width: 96%; 
	padding: 15px;
	color: black;
	background-color: #c8dbfa;
	opacity: 1;
	border: 1px solid black;
	text-decoration: none;
}


.divNews2{
	font-family: "Poppins", sans-serif;
	width: 96%; 
	padding: 15px;
	margin-left: 1%;
	background-color: white;
	border: 1px solid black;
	text-align: left;
}


.sticky{
	position: sticky;
	top: 0px;
	background-color: white;
	width: 100%;
	z-index: 1;
}

.intestazione{
	border: 0px solid white;
}


.buttonCaroselloL{	
	position: absolute; 
	text-align: center; 
	padding-top: 0px; 
	left: 2px; 
	top:50%; 
	height: 40px; 
	width: 40px; 
	background-color:white; 
	font-size: 30px;
}

.buttonCaroselloL:hover{
	background-color: #CCC;
}

.buttonCaroselloL:active {
  background-color: #777;
}

.buttonCaroselloR{	
	position: absolute; 
	text-align: center; 
	padding-top: 0px; 
	right: 2px; 
	top:50%; 
	height: 40px; 
	width: 40px; 
	background-color:white; 
	font-size: 30px;
}

.buttonCaroselloR:hover{
	background-color: #CCC;
}

.buttonCaroselloR:active {
  background-color: #777;
}

.info{
	color: #877f69;
	font-family: Arial; 
	font-weight:bold;
}

.info2{
	color: black;
	font-family: Tahoma; 
}

.infoMail{
	color: blue;
	font-family: Tahoma; 
	text-decoration: none;
}

.infoMail:Hover{
	color: blue;
	font-family: Tahoma; 
	text-decoration: underline;
}

.linkMappa{
	color:white;
	text-decoration:none;
}

.linkMappa:hover{
	color:white;
	text-decoration:underline;
}


.buttonLeggiTutto{	
	text-align: center;
	background-color: #746f63;
	color: white;
}

.buttonLeggiTutto:hover{
	background-color: #d1d1d1;
	color: black;
	cursor: pointer;
}

.mySlides {display: none;}

.mySlides2 {display: none;}



.article-img {
	border: 10px solid #e4bd01;
    font-size: 40px;
    padding: 10px;
    border-radius: 50%;
    width: 30px;
    margin: 0 auto;
}

.bottoneServizi{
	background-color: #e4bd01;
	color:white;
	padding: 20px;
	font-size: 22px;
	border:none;
	margin-top: 5%
}

.bottoneServizi:hover{
	cursor:pointer;
	background-color:white;
	color: #746f63;
	
}


.chevron {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 13.1l-8-8 2.1-2.2 5.9 5.9 5.9-5.9 2.1 2.2z'/%3E%3C/svg%3E");
  height: 50px;
  width: 50px;
  transform: rotate(180deg)
}

.tornasu{
	cursor:pointer; 
	background-color:#e8bd00; 
	width: 100px; 
	height: 100px; 
	font-size: 20px; 
	text-align:center; 
	border: none;
	border-radius: 50px;
}

.tornasu:hover{
	background-color: #c29e00;
}





.tendina {
  position: relative;
  display: inline-block;
}

.tendina-content {
  padding-top: 5px;
  display: none;
  position: absolute;
  background-color:white;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
  border: 2px solid #eeeeee;
}

.tendina-content a {
  color: #877f69;
  padding: 12px 16px;
  padding-left: 15px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.tendina:hover .tendina-content {display: block;}

.tendina:hover .link {color: #e8bd00;}

.tendina-content a:hover {background-color: #dedede; color:#bf9c00}

.linkPrivacy{
	color:white;
}

.linkPrivacy:hover{
	color: #dedede
}
